#admin-view {
    @include center(column);
    padding: 2em 0;
    > div {
        width: 36em;
    }
    span {
        display: inline-block;
    }
    .account-name {
        width: 15em;
    }
    .account-status {
        color: $light-grey;
        width: 15em;
    }
    a {
        font-size: 13px;
    }
}