#dashboard-container {
    width: 100%;
    height: 100%;
}
#dashboard-nav {
    width: 25%;
    height: inherit;
    position: fixed;
    background-color: $blue-grey;
    h2 {
        @include font(22px);
        color: $pale-grey;
        margin: 1em 0 0 1em;
    }
    ul {
        width: 100%;
        @include center(column);
        padding: 2em 0;
        li {
            @include font(18px);
            color: $light-grey;
            width: inherit;
            height: 4.5em;
            line-height: 4.5em;
            vertical-align: middle;
            &:hover {
                cursor: pointer;
                background-color: lighten($blue-grey, 10%);
            }
            img {
                width: 48px;
                height: 48px;
                vertical-align: middle;
                margin: 0 1em 0 3em;
            }
        }
    }
}
#dashboard-main {
    width: 75%;
    height: inherit;
    float: right;
    @include font(18px);
}
#top-nav {
    width: 100%;
    height: 3.5em;
    line-height: 3.5em;
    @include center;
    color: $light-blue-grey;
    border-bottom: 1px solid $platinum;
    span {
        border-right: 1px solid $platinum;
        height: inherit;
        line-height: inherit;
        padding: 0 1.5em;
        text-align: center;
        &.greeting {
            background-color: lighten($pale-grey, 2%);
        }
        &.nav-option:hover {
            cursor: pointer;
            background-color: lighten($pale-grey, 2%);
        }
    }
    i {
        font-size: 20px;
    }
    a {
        @include link($light-blue-grey);
    }
}
#leftmost {
    width: 60%;
}
#rightmost {
    border-right: none;
}
#open-sale-modal {
    @include center;
    visibility: collapse;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
#open-sale-modal.show {
    visibility: visible;
}
#modal-content {
    width: 32em;
    height: 24em;
    background-color: $pale-grey;
    box-shadow: 0 0 1em $blue-grey;
}