#open-sale-content {
    width: 28em;
    height: 21em;
    padding: 3em 3em 2.5em;
}
#add-item-content {
    width: 28em;
    height: 25em;
    padding: 3em 3em 2.75em;
}
input[type=text].input-short {
    width: 7.5em;
    margin: 0 2em;
}