@(shoppingCart: List[Item])

@dashboard("View Cart") {
    <div id='cart'>
        
        @if(!shoppingCart.isEmpty()) {
        
            <!-- non-empty cart view -->
        
            <h2>SHOPPING CART</h2>
            <span id='instr'>Please select payment type and insert your card before proceeding.</span>
            <div id='nonempty-cart'>
                <div id='cart-list'>
                    @for((item, index) <- shoppingCart.zipWithIndex) {
                                 
                        <div class='cart-item-container'>
                    
                            @if(item.getImage() != null) {
                                <div class='cart-item-pic' style='background-image: url(/item/img/@item.getItemId())'></div>
                            } else {
                                <div class='cart-item-img'><span>No Image Yet</span></div>
                            }
                    
                            <div class='cart-item-des'>
                                <div>
                                    <span class='cart-item-id'>#@item.getItemId()</span>
                                    <span>@item.getTitle()</span>
                                    <span class='cart-item-price'>$<span class='price-data'>@item.getPrice()</span></span>
                                </div>
                                <div>Stock: <span class='cart-item-stock'>@item.getStock()</span></div>
                                <div class='cart-item-q'>
                                    <span>Quantity: &nbsp;</span>
                                    <select name="q" class='quantity-input'>
                                        <option value="1">1</option> 
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                    <span id='quantity-msg'></span>
                                </div>
                                <div><a class='cart-item-delete'>Delete</a></div>
                            </div>
                    
                            <script>
                                //remove an item from cart
                                var buttons = document.getElementsByClassName('cart-item-delete');
                                for (var i = 0; i < buttons.length; i++) {
                                  buttons[i].onclick = function() {
                                      var url = '/cart/@shoppingCart.get(shoppingCart.length - 1 - index).getItemId()';
                                      $.ajax({
                                            url: url,
                                            type: 'DELETE',
                                            success: function(data, status) {
                                                location.reload();
                                                return;
                                            },
                                            error: function() {
                                                console.log("Error occurs. Please try again.");
                                            }
                                        });
                                  }
                                }
                            </script>
                        </div>
                    }
                </div>

                <div id='cart-summary'>
                    <h5>SUMMARY</h5>
                    <div>
                        <hr><span>Subtotal: </span>
                        <span id='subtotal'></span><hr>
                    </div>
                    <span>Payment Type: </span>
                    <div id='payment-options'>
                        <div>
                            <input type="radio" name="type" value="Visa">
                            <img src='@routes.Assets.versioned("img/visa.png")'>
                        </div>
                        <div>
                            <input type="radio" name="type" value="MasterCard">
                            <img src='@routes.Assets.versioned("img/mastercard.png")'>
                        </div>
                        <div>
                            <input type="radio" name="type" value="Discover">
                            <img src='@routes.Assets.versioned("img/discover.png")'>
                        </div>
                    </div>

                    <a id='securepayment' class='red-btn'>Pay Now</a>
                </div>
        
                <script>
                    //calculate subtotal and update it when amounts change
                    $('#subtotal').text('$' + Math.round(subtotal() * 100) / 100);
                    function subtotal() {
                        var items = $('.cart-item-container');
                        var subtotal = 0;
                        for (var i = 0; i < items.length; i++) {
                            var $item = items[i];
                            subtotal += $('.price-data', $item).text() * $('.quantity-input', $item).val();
                        }
                        return subtotal;
                    }
                    $('.quantity-input').change(function() {
                        $('#subtotal').text('$' + Math.round(subtotal() * 100) / 100);
                    });
                    
                    //submit payment
                    $('#securepayment').click(function() {
                        if ($('input[name=type]:checked').length === 0) {
                            $('#instr').addClass('red');
                        } else {
                            
                            //record items and respective quantities
                            var receipts = $('.receipt');
                            var items = $('.cart-item-container');
                            var cart = '';
                            for (var i = 0; i < receipts.length; i++) {
                                var $receipt = receipts[i];
                                var $item = items[i];
                                var key = $('.cart-item-id', $item).text().replace('#', '');
                                var value = $('.quantity-input', $item).val();
                                var stock = $('.cart-item-stock', $item).text();
                                if (value > stock) {
                                    $('#quantity-msg').text("Not enough item left in stock.");
                                    return;
                                }
                                cart += key + '=' + value + " ";
                            }
                            
                            //send HTTP request for the payment and show the receipt
                            var req = {};
                            req['total'] = Math.round(subtotal() * 100) / 100;
                            req['cart'] = cart.trim();
                            $.ajax({
                                url: '/transaction',
                                type: 'POST',
                                data: req,
                                success: function(data, status) {
                                    for (var i = 0; i < receipts.length; i++) {
                                        var $receipt = receipts[i];
                                        var $item = items[i];
                                        $('.receipt-quantity', $receipt).text($('.quantity-input', $item).val());
                                        $('#receipt-total').text('Total: ' + Math.round(subtotal() * 100) / 100);
                                        $('#payment-type').text('Payment method: ' + $('input[name=type]:checked').val());
                                        $('#layer').show();
                                        $('#receipts').addClass('show');
                                    }
                                },
                                error: function() {
                                    console.log('Error occurs. Please try again.');
                                }
                            });
                        }
                    });
                </script>
            </div>

        } else { <!-- empty cart view -->
            <div id='empty-cart'>
                <span>Your cart is empty.</span>
                <a href='/user' class='red-btn'>See the Deals</a>
            </div>
        }

    </div>

    <!-- receipt, shown when transaction is completed -->
    <div id='receipts'>
        <a class='red-btn' href='/cart'>Back</a>
        <span>Receipt</span>
        @for(item <- shoppingCart) {
            <div class='receipt'>
                <span class='receipt-id'>#@item.getItemId()</span>
                <span class='receipt-title'>@item.getTitle()</span>
                <span class='receipt-quantity'></span>
                <span>$@item.getPrice()</span>
            </div>
        }
        <span id='receipt-total'></span>
        <span id='payment-type'></span>
    </div>
}