@*
 * This template provides common components (e.g. nav bars)
 * for all user functionalities. Content will change based on which functionality
 * is currently chosen.
 *@

@(title: String)(content: Html)

@main(title) {

    <div id='dashboard-container'>
       
        <div id='dashboard-nav'>
            <h2>MENU</h2>
            <ul>
                <li id='open-sale'><img src="@routes.Assets.versioned("img/nav-store-front.svg")">Open a Sale</li>                
            </ul>
        </div>
        
        <div id='open-sale-modal'>
            <div id='modal-content'>
            </div>
        </div>
        
        <div id='dashboard-main'>
            <div id='top-nav'>
                <span id='leftmost'>Welcome to Yard Sale Helper</span>
                <span class='nav-option'><a href='/logout'>LOG OUT</a></span>
                <span class='nav-option'><a href='/profile'><i class="fa fa-cog"></i></a></span>
                @if(session.isEmpty()) {
                <span id='rightmost'>Hello, please <a href='/'>log in</a>.</span>
                } else {
                    <span id='rightmost'>@session.get("name")</span>
                }
            </div>
            <div id='main-content'>
                @content
            </div>
        </div>
        
    </div>
    
    <script>
        $("#open-sale").click(function() {
            $("#open-sale-modal").addClass("show");
        });
    </script>
}