@(sales: List[Sale])

@dashboard("Welcome to Yard Sale Helper") {

<div id='sale-list'>
    
    <h1>BROWSE ONGOING SALES</h1>
    
    <ul>
        @for(listing <- sales) {
            <li class='list-item-container'>
                <div class='list-item-img'>No Image Yet</div>
                <div class='list-item-description'>
                    <span class='list-item-title'>@listing.getTitle()</span>
                    <span>@listing.getLocation()</span>
                    <span>SELLER: @listing.getSellerId()</span>
                    <span>REMAINING ITEMS: @listing.getSize()</span>
                </div>
            </li>
        }
    </ul>

</div>

}