@*
 * This template provides a basic layout and acts as a container for all other pages.
 * It takes two arguments, a `String` for the title of the page and an `Html`
 * block to insert into the DOM body.
 *@

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("style/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
        <script src="@routes.Assets.versioned("js/jquery-2.2.4.min.js")" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/2c268661a3.js"></script>
    </head>
    
    <body>
        <div id='mega-container'>@content</div>
    </body>
    
</html>