@(shoppingCart: List[Item])

@dashboard("View Cart") {
    <div id='cart'>
        
        @if(!shoppingCart.isEmpty()) {

            <h2>SHOPPING CART</h2>
            <span id='instr'>Please select payment type and insert your card before proceeding.</span>
            <div id='nonempty-cart'>
                <div id='cart-list'>
                @for(item <- shoppingCart) {
                    <div class='cart-item-container'>
                        @if(item.getImage() != null) {
                            <div class='cart-item-pic' style='background-image: url(/item/img/@item.getItemId())'></div>
                        } else {
                            <div class='cart-item-img'><span>No Image Yet</span></div>
                        }
                        <div class='cart-item-des'>
                            <div>
                                <span class='cart-item-id'>#@item.getItemId()</span>
                                <span>@item.getTitle()</span>
                                <span class='cart-item-price'>$<span class='price-data'>@item.getPrice()</span></span>
                            </div>
                            <div>Stock: @item.getStock()</div>
                            <div class='cart-item-q'>
                                <span>Quantity: &nbsp;</span>
                                <select name="q" class='quantity-input'>
                                    <option value="1">1</option> 
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div><a class='cart-item-delete'>Delete</a></div>
                        </div>
                        <script>
                            //remove an item from cart
                            $(".cart-item-delete").click(function() {
                                $.ajax({
                                    url: '/cart/@item.getItemId()',
                                    type: 'DELETE',
                                    success: function(data, status) {
                                        location.reload();
                                    },
                                    error: function() {
                                        console.log("Error occurs. Please try again.");
                                    }
                                });
                            });
                        </script>
                    </div>
                }
                </div>

                <div id='cart-summary'>
                    <h5>SUMMARY</h5>
                    <div>
                        <hr><span>Subtotal: </span>
                        <span id='subtotal'></span><hr>
                    </div>
                    <span>Payment Type: </span>
                    <div id='payment-options'>
                        <div>
                            <input type="radio" name="type" value="Visa">
                            <img src='@routes.Assets.versioned("img/visa.png")'>
                        </div>
                        <div>
                            <input type="radio" name="type" value="MasterCard">
                            <img src='@routes.Assets.versioned("img/mastercard.png")'>
                        </div>
                        <div>
                            <input type="radio" name="type" value="Discover">
                            <img src='@routes.Assets.versioned("img/discover.png")'>
                        </div>
                    </div>

                    <a id='securepayment' class='red-btn'>Pay Now</a>
                </div>
                <script>
                    //calculate subtotal and update it when amounts change
                    $('#subtotal').text('$' + Math.round(subtotal() * 100) / 100);
                    function subtotal() {
                        var items = $('.cart-item-container');
                        var subtotal = 0;
                        for (var i = 0; i < items.length; i++) {
                            var $item = items[i];
                            subtotal += $('.price-data', $item).text() * $('.quantity-input', $item).val();
                        }
                        return subtotal;
                    }
                    $('.quantity-input').change(function() {
                        $('#subtotal').text('$' + Math.round(subtotal() * 100) / 100);
                    });
                    
                    //submit payment
                    $('#securepayment').click(function() {
                        var req = {};
                        var cart = '';
                        //record the items and respective quantities
                        var items = $('.cart-item-container');
                        for (var i = 0; i < items.length; i++) {
                            var $item = items[i];
                            var key = $('.cart-item-id', $item).text().replace('#', '');
                            var value = $('.quantity-input', $item).val();
                            cart += key + '=' + value + " ";
                        }
                        req['cart'] = cart.trim();
                        req['paymentType'] = $('input[name=type]:checked').val();
                        req['total'] = Math.round(subtotal() * 100) / 100;
                        $.ajax({
                            url: '/transaction',
                            type: 'POST',
                            data: req,
                            success: function(data, status) {
                                $('#main-content').html(data);
                            },
                            error: function() {
                                console.log("Error occurs. Please try again.");
                            }
                        });
                    });
                </script>
            </div>

        } else {
            <div id='empty-cart'>
                <span>Your cart is empty.</span>
                <a href='/user' class='red-btn'>See the Deals</a>
            </div>
        }

    </div>
}