@(sale: Sale)(entry: Item)

@dashboard("Item details") {

<div class='item-detail-container'>
    <div>
        <div>
        @if(entry.getImage() != null) {
            <div class='list-item-pic' style='background-image: url(/item/img/@entry.getItemId())'></div>
        } else {
            <div class='list-item-img'>No Image Yet</div>
        }
        </div>
        <div class='list-item-description'>
            <div>
                <span class='list-item-title'>@entry.getTitle()</span>
                <a class='red-btn' href='/sale/@sale.getSaleId()'>Back</a>
            </div>
            <span>$@entry.getPrice()</span>
            <div>
                <span>@entry.getStock() left in stock</span>&nbsp;&nbsp;
                <span id='stock-msg'></span>
            </div>
            @if(sale.getSellerId().equals(session.get("username"))) {
                <div><div id='update-item' class='grey-btn'>Update Item</div></div>
            } else {
                <div><div id='add-to-cart' class='blue-btn'>Add to Cart</div></div>
            }
        </div>
    </div>
    <span>@entry.getDescription()</span>
</div>

<script>
     //show and hide the update catalog item modal
    $("#update-item").click(function() {
        $("#add-item-modal").addClass("show");
    });
    $('#hide-modal-b').click(function() {
        $("#add-item-modal").removeClass("show");
        $("#add-item-msg").text("");
    });
    
    //send update catalog item request to the server
        $("#add-item").click(function() {
            var formData = new FormData($('img-input-b'));
            var inputFile = document.getElementById('img-input-b').files[0];
            formData.append('file', inputFile);
            $('.item-info').map(function() {
                formData.append($(this).attr("name"), $(this).val());
            });
            formData.append("itemId", @entry.getItemId());
            if (!formData.get('title').length && 
                !formData.get('description').length && 
                !formData.get('price').length && 
                !formData.get('stock').length &&
                formData.get('file') == 'undefined') {
                $("#add-item-msg").text("No changes are made.");
            } else if ((formData.get('price').length && (isNaN(formData.get('price')) || 
                            formData.get('price') <= 0)) || 
                           (formData.get('stock').length && !Number.isInteger(parseInt(formData.get('stock')))) || 
                            formData.get('stock') < 0) {
                $("#add-item-msg").text("Please enter valid price/stock.");
            } else $.ajax({
                url: '/item',
                type: "PUT",
                contentType: false,
                data: formData,
                processData: false,
                success: function(data, status) {
                    $("#add-item-modal").removeClass("show");
                    location.reload();
                },
                error: function() {
                    console.log("Error occurs. Please try again.");
                }
            });
        });
    
    //show image after uploading
    $("#img-input-b").change(function() {
        var file = document.getElementById("img-input-b").files[0];
        var reader = new FileReader();
        reader.onloadend = function() {
            $('#item-img').css("background-image", "url(" + reader.result + ")");
        }
        if (file) reader.readAsDataURL(file);
        else return;
    });
    
    //add an item to cart
    $("#add-to-cart").click(function() {
        var req = {};
        req['item'] = @entry.getItemId();
        $.ajax({
            url: '/cart',
            type: "POST",
            data: req,
            success: function(data, status) {
                $("#stock-msg").text(data);
            },
            error: function() {
                console.log("Error occurs. Please try again.");
            }
        });
    });
</script>
        
}